    @font-face {
      font-family: 'Yellowtail';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/yellowtail/v11/OZpGg_pnoDtINPfRIlLohlvHwWL9f4k.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LLPtLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LJftLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LLvtLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LL_tLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LIftLtfOm8w.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LLPtLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LJftLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LLvtLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LL_tLtfOm84TX.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIhMX1D_JOuMw_LIftLtfOm8w.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwf7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMw77I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwX7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwT7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwr7I_FMl_E.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwf7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMw77I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwX7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwT7I_FMl_GW8g.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/lora/v17/0QIvMX1D_JOuMwr7I_FMl_E.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Cinzel';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/cinzel/v11/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfYPlC2xcZqTFU3AS.woff) format('woff');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Cinzel';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/cinzel/v11/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lC2xcZqTFUw.woff) format('woff');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .x {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      margin: 0;
      box-sizing: border-box
    }

    .x *,
    .x :after,
    .x :before {
      box-sizing: inherit
    }

    .x-el a[href^="mailto:"]:not(.x-el),
    .x-el a[href^="tel:"]:not(.x-el) {
      color: inherit;
      font-size: inherit;
      text-decoration: inherit
    }

    .x-el-article,
    .x-el-aside,
    .x-el-details,
    .x-el-figcaption,
    .x-el-figure,
    .x-el-footer,
    .x-el-header,
    .x-el-hgroup,
    .x-el-main,
    .x-el-menu,
    .x-el-nav,
    .x-el-section,
    .x-el-summary {
      display: block
    }

    .x-el-audio,
    .x-el-canvas,
    .x-el-progress,
    .x-el-video {
      display: inline-block;
      vertical-align: baseline
    }

    .x-el-audio:not([controls]) {
      display: none;
      height: 0
    }

    .x-el-template {
      display: none
    }

    .x-el-a {
      background-color: transparent;
      color: inherit
    }

    .x-el-a:active,
    .x-el-a:hover {
      outline: 0
    }

    .x-el-abbr[title] {
      border-bottom: 1px dotted
    }

    .x-el-b,
    .x-el-strong {
      font-weight: 700
    }

    .x-el-dfn {
      font-style: italic
    }

    .x-el-mark {
      background: #ff0;
      color: #000
    }

    .x-el-small {
      font-size: 80%
    }

    .x-el-sub,
    .x-el-sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline
    }

    .x-el-sup {
      top: -.5em
    }

    .x-el-sub {
      bottom: -.25em
    }

    .x-el-img {
      vertical-align: middle;
      border: 0
    }

    .x-el-svg:not(:root) {
      overflow: hidden
    }

    .x-el-figure {
      margin: 0
    }

    .x-el-hr {
      box-sizing: content-box;
      height: 0
    }

    .x-el-pre {
      overflow: auto
    }

    .x-el-code,
    .x-el-kbd,
    .x-el-pre,
    .x-el-samp {
      font-family: monospace, monospace;
      font-size: 1em
    }

    .x-el-button,
    .x-el-input,
    .x-el-optgroup,
    .x-el-select,
    .x-el-textarea {
      color: inherit;
      font: inherit;
      margin: 0
    }

    .x-el-button {
      overflow: visible
    }

    .x-el-button,
    .x-el-select {
      text-transform: none
    }

    .x-el-button,
    .x-el-input[type=button],
    .x-el-input[type=reset],
    .x-el-input[type=submit] {
      -webkit-appearance: button;
      cursor: pointer
    }

    .x-el-button[disabled],
    .x-el-input[disabled] {
      cursor: default
    }

    .x-el-button::-moz-focus-inner,
    .x-el-input::-moz-focus-inner {
      border: 0;
      padding: 0
    }

    .x-el-input {
      line-height: normal
    }

    .x-el-input[type=checkbox],
    .x-el-input[type=radio] {
      box-sizing: border-box;
      padding: 0
    }

    .x-el-input[type=number]::-webkit-inner-spin-button,
    .x-el-input[type=number]::-webkit-outer-spin-button {
      height: auto
    }

    .x-el-input[type=search] {
      -webkit-appearance: textfield;
      box-sizing: content-box
    }

    .x-el-input[type=search]::-webkit-search-cancel-button,
    .x-el-input[type=search]::-webkit-search-decoration {
      -webkit-appearance: none
    }

    .x-el-textarea {
      border: 0
    }

    .x-el-fieldset {
      border: 1px solid silver;
      margin: 0 2px;
      padding: .35em .625em .75em
    }

    .x-el-legend {
      border: 0;
      padding: 0
    }

    .x-el-textarea {
      overflow: auto
    }

    .x-el-optgroup {
      font-weight: 700
    }

    .x-el-table {
      border-collapse: collapse;
      border-spacing: 0
    }

    .x-el-td,
    .x-el-th {
      padding: 0
    }

    .x {
      -webkit-font-smoothing: antialiased
    }

    .x-el-hr {
      border: 0
    }

    .x-el-fieldset,
    .x-el-input,
    .x-el-select,
    .x-el-textarea {
      margin-top: 0;
      margin-bottom: 0
    }

    .x-el-fieldset,
    .x-el-input[type=email],
    .x-el-input[type=text],
    .x-el-textarea {
      width: 100%
    }

    .x-el-label {
      vertical-align: middle
    }

    .x-el-input {
      border-style: none;
      padding: .5em;
      vertical-align: middle
    }

    .x-el-select:not([multiple]) {
      vertical-align: middle
    }

    .x-el-textarea {
      line-height: 1.75;
      padding: .5em
    }

    .x-el.d-none {
      display: none !important
    }

    .sideline-footer {
      margin-top: auto
    }

    @-webkit-keyframes loaderscale {
      0% {
        transform: scale(1);
        opacity: 1
      }

      45% {
        transform: scale(.1);
        opacity: .7
      }

      80% {
        transform: scale(1);
        opacity: 1
      }
    }

    @keyframes loaderscale {
      0% {
        transform: scale(1);
        opacity: 1
      }

      45% {
        transform: scale(.1);
        opacity: .7
      }

      80% {
        transform: scale(1);
        opacity: 1
      }
    }

    .x-loader svg {
      display: inline-block
    }

    .x-loader svg:first-child {
      -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite;
      animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite
    }

    .x-loader svg:nth-child(2) {
      -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite;
      animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite
    }

    .x-loader svg:nth-child(3) {
      -webkit-animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite;
      animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite
    }

    .x-icon>svg {
      transition: transform .33s ease-in-out
    }

    .x-icon>svg.rotate-90 {
      transform: rotate(-90deg)
    }

    .x-icon>svg.rotate90 {
      transform: rotate(90deg)
    }

    .x-icon>svg.rotate-180 {
      transform: rotate(-180deg)
    }

    .x-icon>svg.rotate180 {
      transform: rotate(180deg)
    }

    .x-rt:after {
      content: "";
      clear: both
    }

    .x-rt ol,
    .x-rt ul {
      text-align: left
    }

    .x-rt p {
      margin: 0
    }

    .x-rt br {
      clear: both
    }

    .mte-inline-block {
      display: inline-block
    }

    @media only screen and (min-device-width:1025px) {

      :root select,
      _::-webkit-full-page-media,
      _:future {
        font-family: sans-serif !important
      }
    }

    .x .c1-1 {
      letter-spacing: normal
    }

    .x .c1-2 {
      text-transform: none
    }

    .x .c1-3 {
      background-color: rgb(255, 255, 255)
    }

    .x .c1-4 {
      width: 100%
    }

    .x .c1-5>div {
      position: relative
    }

    .x .c1-6>div {
      overflow: hidden
    }

    .x .c1-7>div {
      margin-top: auto
    }

    .x .c1-8>div {
      margin-right: auto
    }

    .x .c1-9>div {
      margin-bottom: auto
    }

    .x .c1-a>div {
      margin-left: auto
    }

    .x .c1-b {
      font-family: Lora, serif
    }

    .x .c1-c {
      font-size: 16px
    }

    .x .c1-h {
      background-color: rgb(67, 85, 95)
    }

    .x .c1-i {
      padding-top: 0px
    }

    .x .c1-j {
      padding-bottom: 0px
    }

    .x .c1-m {
      background-position: 61.28186584704393% 70.8695652173913%
    }

    .x .c1-n {
      background-size: cover
    }

    .x .c1-o {
      background-blend-mode: normal
    }

    .x .c1-p {
      background-repeat: no-repeat
    }

    .x .c1-q {
      text-shadow: none
    }

    .x .c1-r {
      position: relative
    }

    .x .c1-s {
      min-height: 300px
    }

    .x .c1-1f {
      margin-left: auto
    }

    .x .c1-1g {
      margin-right: auto
    }

    .x .c1-1h {
      padding-left: 24px
    }

    .x .c1-1i {
      padding-right: 24px
    }

    .x .c1-1j {
      max-width: 100%
    }

    .x .c1-1k {
      margin-top: 0px
    }

    .x .c1-1q {
      display: flex
    }

    .x .c1-1r {
      justify-content: center
    }

    .x .c1-1s {
      align-items: center
    }

    .x .c1-1t {
      flex-direction: column
    }

    .x .c1-1u {
      padding-top: 24px
    }

    .x .c1-1v {
      padding-bottom: 40px
    }

    .x .c1-1w> :nth-child(n) {
      margin-bottom: 16px
    }

    .x .c1-1x> :last-child {
      margin-bottom: 0 !important
    }

    .x .c1-1y {
      text-align: center
    }

    .x .c1-21 {
      word-wrap: break-word
    }

    .x .c1-22 {
      overflow-wrap: break-word
    }

    .x .c1-23 {
      line-height: 1.2
    }

    .x .c1-24 {
      display: block
    }

    .x .c1-25 {
      line-height: 1.25
    }

    .x .c1-26 {
      margin-left: 0
    }

    .x .c1-27 {
      margin-right: 0
    }

    .x .c1-28 {
      margin-bottom: 0
    }

    .x .c1-29 {
      white-space: pre-line
    }

    .x .c1-2a {
      display: inline-block
    }

    .x .c1-2b {
      color: rgb(240, 241, 241)
    }

    .x .c1-2c {
      font-weight: 400
    }

    .x .c1-2d {
      word-wrap: normal !important
    }

    .x .c1-2e {
      overflow-wrap: normal !important
    }

    .x .c1-2f {
      display: none
    }

    .x .c1-2g {
      visibility: hidden
    }

    .x .c1-2h {
      position: absolute
    }

    .x .c1-2i {
      width: auto
    }

    .x .c1-2j {
      overflow: visible
    }

    .x .c1-2k {
      left: 0
    }

    .x .c1-2l {
      font-size: 14px
    }

    .x .c1-2q {
      font-size: 12px
    }

    .x .c1-2v {
      line-height: 1.5
    }

    .x .c1-2w a:not([data-ux]) {
      color: inherit
    }

    .x .c1-2x a:not([data-ux]) {
      border-bottom-style: solid
    }

    .x .c1-2y a:not([data-ux]) {
      border-bottom-width: 1px
    }

    .x .c1-2z a:not([data-ux]) {
      border-color: rgb(153, 190, 211)
    }

    .x .c1-30 a:not([data-ux]) {
      padding-bottom: 2px
    }

    .x .c1-31 a:not([data-ux]) {
      text-decoration: none
    }

    .x .c1-32 a:not([data-ux]) {
      font-size: inherit
    }

    .x .c1-33 a {
      color: inherit
    }

    .x .c1-34 a {
      border-bottom-style: solid
    }

    .x .c1-35 a {
      border-bottom-width: 1px
    }

    .x .c1-36 a {
      border-color: rgb(153, 190, 211)
    }

    .x .c1-37 a {
      padding-bottom: 2px
    }

    .x .c1-38 a {
      text-decoration: none
    }

    .x .c1-39 a {
      font-size: inherit
    }

    .x .c1-3a>p {
      margin-top: 0
    }

    .x .c1-3b>p {
      margin-right: 0
    }

    .x .c1-3c>p {
      margin-bottom: 0
    }

    .x .c1-3d>p {
      margin-left: 0
    }

    .x .c1-3e {
      max-width: 750px
    }

    .x .c1-3f {
      color: rgb(255, 255, 255)
    }

    .x .c1-3g {
      font-size: 25px
    }

    .x .c1-3m {
      letter-spacing: inherit
    }

    .x .c1-3n {
      text-transform: inherit
    }

    .x .c1-3o {
      font-size: inherit !important
    }

    .x .c1-3p {
      color: inherit
    }

    .x .c1-3q {
      font-weight: 700
    }

    .x .c1-3r {
      line-height: inherit
    }

    .x .c1-3s {
      font-weight: inherit
    }

    .x .c1-3t {
      font-style: italic
    }

    .x .c1-3u {
      text-decoration: line-through
    }

    .x .c1-3v {
      text-decoration: underline
    }

    .x .c1-3w {
      margin-top: 16px
    }

    .x .c1-3x {
      margin-bottom: 16px
    }

    .x .c1-3y {
      cursor: pointer
    }

    .x .c1-3z {
      border-style: none
    }

    .x .c1-40 {
      display: inline-flex
    }

    .x .c1-41 {
      text-decoration: none
    }

    .x .c1-42 {
      padding-left: 40px
    }

    .x .c1-43 {
      padding-right: 40px
    }

    .x .c1-44 {
      padding-top: 8px
    }

    .x .c1-45 {
      padding-bottom: 8px
    }

    .x .c1-46 {
      min-height: 56px
    }

    .x .c1-47 {
      border-radius: 48px
    }

    .x .c1-48 {
      color: rgb(48, 48, 48)
    }

    .x .c1-49 {
      font-family: 'Yellowtail', serif, system-ui
    }

    .x .c1-4a {
      font-size: 26px
    }

    .x .c1-4b:hover {
      background-color: rgb(255, 255, 255)
    }

    .x .c1-4f {
      overflow: hidden
    }

    .x .c1-4g {
      padding-top: 56px
    }

    .x .c1-4h {
      padding-bottom: 56px
    }

    .x .c1-4i {
      padding: 0 !important
    }

    .x .c1-4j {
      margin: 0 !important
    }

    .x .c1-4m {
      box-sizing: border-box
    }

    .x .c1-4n {
      flex-direction: row
    }

    .x .c1-4o {
      flex-wrap: wrap
    }

    .x .c1-4p {
      margin-right: -12px
    }

    .x .c1-4q {
      margin-bottom: -24px
    }

    .x .c1-4r {
      margin-left: -12px
    }

    .x .c1-4w {
      flex-grow: 1
    }

    .x .c1-4x {
      flex-shrink: 1
    }

    .x .c1-4y {
      flex-basis: 100%
    }

    .x .c1-4z {
      padding-right: 12px
    }

    .x .c1-50 {
      padding-bottom: 24px
    }

    .x .c1-51 {
      padding-left: 12px
    }

    .x .c1-52 {
      flex: 1
    }

    .x .c1-5a {
      margin-left: -24px
    }

    .x .c1-5b {
      margin-right: -24px
    }

    .x .c1-5e {
      vertical-align: middle
    }

    .x .c1-5f {
      height: 100%
    }

    .x .c1-5g {
      object-fit: cover
    }

    .x .c1-5h {
      border-radius: 0px
    }

    .x .c1-5j {
      align-items: stretch
    }

    .x .c1-5p {
      line-height: 1.8
    }

    .x .c1-5q a:not([data-ux]) {
      border-color: rgb(67, 85, 95)
    }

    .x .c1-5r {
      color: rgb(89, 89, 89)
    }

    .x .c1-5s {
      padding-right: 0
    }

    .x .c1-5t {
      padding-left: 0
    }

    .x .c1-5u {
      color: rgb(27, 27, 27)
    }

    .x .c1-5v {
      font-size: 22px
    }

    .x .c1-5w {
      [object -object]: 0px
    }

    .x .c1-6a {
      height: auto
    }

    .x .c1-6b {
      margin-top: 32px
    }

    .x .c1-6c {
      color: rgb(94, 94, 94)
    }

    .x .c1-6d {
      font-size: 19px
    }

    .x .c1-6l {
      line-height: 1.4
    }

    .x .c1-6m {
      margin-bottom: 40px
    }

    .x .c1-6n {
      font-size: unset
    }

    .x .c1-6o {
      font-family: unset
    }

    .x .c1-6p {
      letter-spacing: unset
    }

    .x .c1-6q {
      text-transform: unset
    }

    .x .c1-6r {
      padding-bottom: 48px
    }

    .x .c1-6s {
      justify-content: flex-start
    }

    .x .c1-6x>* {
      max-width: 100%
    }

    .x .c1-6y {
      align-items: flex-start
    }

    .x .c1-6z {
      text-align: left
    }

    .x .c1-70> :nth-child(n) {
      margin-bottom: 24px
    }

    .x .c1-73 {
      font-size: 18px
    }

    .x .c1-78>p>ol {
      text-align: left
    }

    .x .c1-79>p>ol {
      display: block
    }

    .x .c1-7a>p>ol {
      padding-left: 1.3em
    }

    .x .c1-7b>p>ol {
      margin-left: 16px
    }

    .x .c1-7c>p>ol {
      margin-right: 16px
    }

    .x .c1-7d>p>ol {
      margin-top: auto
    }

    .x .c1-7e>p>ol {
      margin-bottom: auto
    }

    .x .c1-7f>p>ul {
      text-align: left
    }

    .x .c1-7g>p>ul {
      display: block
    }

    .x .c1-7h>p>ul {
      padding-left: 1.3em
    }

    .x .c1-7i>p>ul {
      margin-left: 16px
    }

    .x .c1-7j>p>ul {
      margin-right: 16px
    }

    .x .c1-7k>p>ul {
      margin-top: auto
    }

    .x .c1-7l>p>ul {
      margin-bottom: auto
    }

    .x .c1-7m>ul {
      text-align: left
    }

    .x .c1-7n>ul {
      display: block
    }

    .x .c1-7o>ul {
      padding-left: 1.3em
    }

    .x .c1-7p>ul {
      margin-left: 16px
    }

    .x .c1-7q>ul {
      margin-right: 16px
    }

    .x .c1-7r>ul {
      margin-top: auto
    }

    .x .c1-7s>ul {
      margin-bottom: auto
    }

    .x .c1-7t>ol {
      text-align: left
    }

    .x .c1-7u>ol {
      display: block
    }

    .x .c1-7v>ol {
      padding-left: 1.3em
    }

    .x .c1-7w>ol {
      margin-left: 16px
    }

    .x .c1-7x>ol {
      margin-right: 16px
    }

    .x .c1-7y>ol {
      margin-top: auto
    }

    .x .c1-7z>ol {
      margin-bottom: auto
    }

    .x .c1-80 {
      padding-top: 32px
    }

    .x .c1-81 {
      padding-bottom: 32px
    }

    .x .c1-82 {
      flex-grow: 3
    }

    .x .c1-85 {
      color: rgb(246, 246, 247)
    }

    .x .c1-87 {
      padding-left: none
    }

    .x .c1-88 {
      padding-right: none
    }

    .x .c1-89 {
      padding-top: 16px
    }

    .x .c1-8a {
      padding-bottom: 16px
    }

    .x .c1-8b {
      display: inline
    }

    .x .c1-8c:hover {
      color: rgb(198, 198, 198)
    }

    .x .c1-8d:active {
      color: rgb(255, 255, 255)
    }

    .x .c1-8e {
      padding-top: 6px
    }

    .x .c1-8f {
      padding-right: 6px
    }

    .x .c1-8g {
      padding-bottom: 6px
    }

    .x .c1-8h {
      padding-left: 6px
    }

    .x .c1-8i {
      margin-top: 24px
    }

    .x .c1-8k {
      position: fixed
    }

    .x .c1-8l {
      right: 0px
    }

    .x .c1-8m {
      z-index: 10000
    }

    .x .c1-8n {
      overflow-y: auto
    }

    .x .c1-8o {
      transition: all 1s ease-in
    }

    .x .c1-8p {
      box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
    }

    .x .c1-8q {
      contain: content
    }

    .x .c1-8r {
      bottom: -500px
    }

    .x .c1-8z {
      max-height: 300px
    }

    .x .c1-91 {
      justify-content: space-between
    }

    .x .c1-92 {
      margin-bottom: 4px
    }

    .x .c1-93 {
      word-break: break-word
    }

    .x .c1-94 {
      flex-basis: 50%
    }

    .x .c1-95 {
      padding-top: 4px
    }

    .x .c1-96 {
      padding-bottom: 4px
    }

    .x .c1-97 {
      min-height: 40px
    }

    .x .c1-98:nth-child(2) {
      margin-left: 24px
    }

    .x .c1-99 {
      right: 24px
    }

    .x .c1-9a {
      bottom: 24px
    }

    .x .c1-9b {
      z-index: 9999
    }

    .x .c1-9c {
      width: 65px
    }

    .x .c1-9d {
      height: 65px
    }

    .x .c1-9f {
      border-radius: 50%
    }

    .x .c1-9g {
      box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25)
    }

    .x .c1-9h {
      transform: translateZ(0)
    }

    @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 1),
    (max-width: 450px) and (min-resolution: 96dpi) {
      .x .c1-t {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:450,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 450px) and (min-resolution: 192dpi) {
      .x .c1-u {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:900,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
    (max-width: 450px) and (min-resolution: 288dpi) {
      .x .c1-v {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1350,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 451px) and (max-width: 767px) and (min-resolution: 96dpi) {
      .x .c1-w {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:767,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
      .x .c1-x {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1534,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
      .x .c1-y {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:2301,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 768px) and (max-width: 1023px) and (min-resolution: 96dpi) {
      .x .c1-z {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1023,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
      .x .c1-10 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:2046,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
      .x .c1-11 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:3069,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 96dpi) {
      .x .c1-12 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1279,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
      .x .c1-13 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:2558,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
      .x .c1-14 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:3837,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 96dpi) {
      .x .c1-15 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1535,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
      .x .c1-16 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:3070,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
      .x .c1-17 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:4605,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 96dpi) {
      .x .c1-18 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:1920,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
      .x .c1-19 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:3840,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
      .x .c1-1a {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:5760,m"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 1),
    (min-width: 1921px) and (min-resolution: 96dpi) {
      .x .c1-1b {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:100%25"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1921px) and (min-resolution: 192dpi) {
      .x .c1-1c {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:100%25"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1921px) and (min-resolution: 288dpi) {
      .x .c1-1d {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:100%25"), url("//img1.wsimg.com/isteam/stock/PaWrmzY/:/rs=w:50,cg:true,mx/qt=q:1")
      }
    }

    @media (max-width: 767px) {
      .x .c1-k {
        padding-top: 0px
      }
    }

    @media (max-width: 767px) {
      .x .c1-l {
        padding-bottom: 0px
      }
    }

    @media (max-width: 767px) {
      .x .c1-1l {
        margin-top: 0px
      }
    }

    @media (max-width: 767px) {
      .x .c1-4k {
        padding-top: 40px
      }
    }

    @media (max-width: 767px) {
      .x .c1-4l {
        padding-bottom: 40px
      }
    }

    @media (max-width: 767px) {
      .x .c1-5i {
        height: calc((100vw - 48px)/0.769140625)
      }
    }

    @media (max-width: 767px) {
      .x .c1-71> :nth-child(n) {
        margin-bottom: 24px
      }
    }

    @media (max-width: 767px) {
      .x .c1-72> :last-child {
        margin-bottom: 0 !important
      }
    }

    @media (min-width: 768px) {
      .x .c1-d {
        font-size: 16px
      }
    }

    @media (min-width: 768px) {
      .x .c1-1m {
        width: 100%
      }
    }

    @media (min-width: 768px) {
      .x .c1-2m {
        font-size: 14px
      }
    }

    @media (min-width: 768px) {
      .x .c1-2r {
        font-size: 12px
      }
    }

    @media (min-width: 768px) {
      .x .c1-3h {
        font-size: 26px
      }
    }

    @media (min-width: 768px) {
      .x .c1-4c {
        width: auto
      }
    }

    @media (min-width: 768px) {
      .x .c1-4s {
        margin-top: 0
      }
    }

    @media (min-width: 768px) {
      .x .c1-4t {
        margin-right: -24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-4u {
        margin-bottom: -48px
      }
    }

    @media (min-width: 768px) {
      .x .c1-4v {
        margin-left: -24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-53 {
        padding-top: 0
      }
    }

    @media (min-width: 768px) {
      .x .c1-54 {
        padding-right: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-55 {
        padding-bottom: 48px
      }
    }

    @media (min-width: 768px) {
      .x .c1-56 {
        padding-left: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-5k {
        min-height: 300px
      }
    }

    @media (min-width: 768px) {
      .x .c1-5x {
        font-size: 22px
      }
    }

    @media (min-width: 768px) {
      .x .c1-6e {
        font-size: 19px
      }
    }

    @media (min-width: 768px) {
      .x .c1-6i>div {
        max-width: 100%
      }
    }

    @media (min-width: 768px) {
      .x .c1-6t {
        margin-bottom: 0
      }
    }

    @media (min-width: 768px) {
      .x .c1-6u {
        flex-basis: 50%
      }
    }

    @media (min-width: 768px) {
      .x .c1-6v {
        max-width: 50%
      }
    }

    @media (min-width: 768px) {
      .x .c1-6w {
        padding-bottom: 0
      }
    }

    @media (min-width: 768px) {
      .x .c1-74 {
        font-size: 18px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8s {
        width: 400px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8t {
        max-height: 500px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8u {
        border-radius: 7px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8v {
        margin-top: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8w {
        margin-right: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8x {
        margin-bottom: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-8y {
        margin-left: 24px
      }
    }

    @media (min-width: 768px) {
      .x .c1-90 {
        max-height: 140px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-e {
        font-size: 16px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-1e {
        min-height: 60vh
      }
    }

    @media (min-width: 1024px) {
      .x .c1-1n {
        width: 984px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-1z {
        padding-top: 56px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-20 {
        padding-bottom: 56px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-2n {
        font-size: 14px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-2s {
        font-size: 12px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-3i {
        width: auto
      }
    }

    @media (min-width: 1024px) {
      .x .c1-3j {
        font-size: 26px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-57 {
        flex-basis: 50%
      }
    }

    @media (min-width: 1024px) {
      .x .c1-58 {
        max-width: 50%
      }
    }

    @media (min-width: 1024px) {
      .x .c1-59 {
        flex: 1
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5c {
        height: 100%
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5d {
        margin-left: calc(100% - (50vw - 24px))
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5l {
        padding-top: 32px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5m {
        padding-right: 32px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5n {
        padding-bottom: 32px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5o {
        padding-left: 32px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5y {
        text-align: center
      }
    }

    @media (min-width: 1024px) {
      .x .c1-5z {
        padding-top: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-60 {
        padding-right: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-61 {
        padding-bottom: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-62 {
        padding-left: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-63 {
        margin-top: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-64 {
        margin-right: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-65 {
        margin-bottom: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-66 {
        margin-left: 0
      }
    }

    @media (min-width: 1024px) {
      .x .c1-67 {
        font-size: 22px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-6f {
        font-size: 19px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-6j>div {
        max-width: 984px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-75 {
        font-size: 18px
      }
    }

    @media (min-width: 1024px) {
      .x .c1-83 {
        flex-basis: 0%
      }
    }

    @media (min-width: 1024px) {
      .x .c1-84 {
        max-width: none
      }
    }

    @media (min-width: 1024px) {
      .x .c1-86 {
        text-align: left
      }
    }

    @media (min-width: 1024px) {
      .x .c1-8j {
        text-align: right
      }
    }

    @media (min-width: 1024px) {
      .x .c1-9e {
        z-index: 9999
      }
    }

    @media (min-width: 1280px) {
      .x .c1-f {
        font-size: 16px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-1o {
        width: 1160px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-2o {
        font-size: 14px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-2t {
        font-size: 12px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-3k {
        font-size: 28px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-4d {
        font-size: 26px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-68 {
        font-size: 22px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-6g {
        font-size: 19px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-6k>div {
        max-width: 1160px
      }
    }

    @media (min-width: 1280px) {
      .x .c1-76 {
        font-size: 18px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-g {
        font-size: 18px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-1p {
        width: 1280px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-2p {
        font-size: 16px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-2u {
        font-size: 14px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-3l {
        font-size: 32px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-4e {
        font-size: 29px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-69 {
        font-size: 24px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-6h {
        font-size: 21px
      }
    }

    @media (min-width: 1536px) {
      .x .c1-77 {
        font-size: 20px
      }
    }

    .page-inner {
      background-color: rgb(67, 85, 95);
      min-height: 100vh;
    }

    .grecaptcha-badge {
      visibility: hidden;
    }
