  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="{{ site.title }}" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ site.url }}/img/equip-medial-header.jpg" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ pag.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/img/equip-medial-header.jpg" />
  <meta name="twitter:image:alt" content="{{ site.title }}" />
  <meta name="theme-color" content="#43555f" />
  <link rel="icon" href="/img/favicon/medequip-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon/medequip-24.png" sizes="24x24" />
  <link rel="icon" href="/img/favicon/medequip-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon/medequip-48.png" sizes="48x48" />
  <link rel="icon" href="/img/favicon/medequip-64.png" sizes="64x64" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-57.png" sizes="57x57" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-60.png" sizes="60x60" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-72.png" sizes="72x72" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-114.png" sizes="114x114" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-120.png" sizes="120x120" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-144.png" sizes="144x144" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-152.png" sizes="152x152" />
  <link rel="apple-touch-icon" href="/img/favicon/medequip-180.png" sizes="180x180" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">
  <script src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      Formio.createForm(document.getElementById('service-form'), 'https://iyvcnglfwubheve.form.io/servicetrainingwarranty');
      Formio.createForm(document.getElementById('preowned-form'), 'https://iyvcnglfwubheve.form.io/certifiedpreowneddevices');
      Formio.createForm(document.getElementById('newdevices-form'), 'https://iyvcnglfwubheve.form.io/newdevices');
    };
  </script>
